@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

/* font for app */
* {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 20px;
}

/* add css */
.container-add {
  margin-top: 20vh;
  text-align: center;
  /* border-bottom: 2px solid #ccc; */
}
.margin{
  margin: 0;
  color: black;
  background-color: #ccc;
  height: 2px;
  width: 100vw;
}
.container-add p {
  border-top: 2px #ccc solid;
  border-left: 2px #ccc solid;
  border-right: 2px #ccc solid;
  display: inline-block;
  width: 12vw;
  height: 29px;
  background-color: white;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 30px;
}
#white1{
  left: 38.12vw;
  height: 2px;
  background-color: white;
  width: 11.79vw;
  position: absolute;

}
#white2{
  left: 50.12vw;
  height: 2px;
  background-color: white;
  width: 11.78vw;
  position: absolute;

}
/* add css */

/* unauthorized */
.container-unauthorized {
  margin-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* product page page css */
.add-container {
  margin-top: 15vh;
  width: 25vw;
  box-shadow: 0 15px 75px rgba(0, 0, 0, 1);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
}
.add-container h3 {
  padding: 8px;
  margin-top: 5px;
}
.add-container label {
  margin-left: 8px;
}
.add-container .input-field {
  padding-left: 5px;
  margin: 0 0 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add-container .yup-errors {
  font-style: italic;
  margin: 0 0 10px 8px;
  color: red;
  font-size: 18px;
}
.add-container p {
  margin: 0 0 0 8px;
}
.add-container p em {
  font-size: .8rem;
}
.add-container button {
  width: 100px;
  margin: 10px 0;
}
/* product page page css */

/* login/signup css boiler plate made with flexbox */
.password-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth-container{
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 10vh;
}
.auth-container p {
  font-size: 17px;
  font-style: italic;
  color: red;
}
.auth-container .input-field {
  font-size: 17px;
  flex: 1;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15vw;
  min-width: 150px;
  height: 35px;
}
.auth-container .show-password {
  height: 36px;
  width: 36px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.auth-container .auth-button {
  min-height: 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-button :active {
  background-color: rgba(204, 204, 204, 0.742);
}
/* Login/signup boiler plate with flexbox design */

/* Header CSS  & boilerplate made w flexbox*/
.header-container {
  background-color: rgba(0, 0, 0, 0.888);
  color:rgba(204, 204, 204, 0.742);
  height: 8vh;
  min-height: 55px;
}
.header-container p {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 8vh;
  min-height: 55px;
  width: 7vw;
  min-width: 65px;
  font-size: 1rem;
  margin: 0px;
  display: flex;
  align-items: center; /* This centers the text vertically */
  justify-content: center; /* This centers the text horizontally */
}
.header-container p:hover {
  background-color: #ccc;
  color: black;
}
.header-container .search,
.header-container .pay,
.header-container .database {
  width: 8.33vw;
  display: flex;
  align-items: center; /* This centers the text vertically */
  justify-content: center; /* This centers the text horizontally */
}
.header-container .home {
  width: 36.5vw;
  display: flex;
  align-items: center; /* This centers the text vertically */
  justify-content: flex-start; /* This aligns the text to the left */
}
.header-container .logout {
  width: 36.5vw;
  display: flex;
  align-items: center; /* This centers the text vertically */
  justify-content: flex-end; /* This aligns the text to the right */
}
/* Header css */

/* home page instruction box */
.container-home {
  background-color: #f2f2f2;
  margin-top: 20vh;
  width: 40vw;
  box-shadow: 0 15px 75px rgba(0, 0, 0, 1);
  border-radius: 1em;
}
.container-home p {
  padding: 10px;
}
.container-home ul {
  padding-bottom: 10px;
}

/* Header css */



/* ALL MEDIA QUERY CODE BELOW */

/* Tablet meda query */
@media (max-width: 1080px) {
  /* product page  page css */
  .add-container {
    margin-top: 15vh;
    width: 42vw;
    box-shadow: 0 15px 75px rgba(0, 0, 0, 1);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
  }
  /* product page page css */

  /* header css */
  .header-container {
    background-color: rgba(0, 0, 0, 0.888);
    color:rgba(204, 204, 204, 0.742);
    height: 8vh;
    min-height: 55px;
  }
  .header-container p {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 8vh;
    min-height: 55px;
    width: 7vw;
    font-size: 0.8rem;
    min-width: 52px;
    margin: 0px;
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: center; /* This centers the text horizontally */
  }
  .header-container .search,
  .header-container .pay,
  .header-container .database {
    width: 10vw;
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: center; /* This centers the text horizontally */
  }
  .header-container .home {
    width: 33.5vw;
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: flex-start; /* This aligns the text to the left */
  }
  .header-container .logout {
    width: 33.5vw;
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: flex-end; /* This aligns the text to the right */
  }
  /* Header css */

  /* home page instructions */
  .container-home {
    margin-top: 20vh;
    width: 60vw;
    box-shadow: 0 15px 75px rgba(0, 0, 0, 1);
    border-radius: 1em;
  }
  /* Home page instructions */
}

/* mobile */
@media (max-width: 630px) {
  /* product pagepage css */
  .add-container {
    margin-top: 15vh;
    width: 67vw;
    box-shadow: 0 15px 75px rgba(0, 0, 0, 1);
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
  }
  /* product page css */

  /* Header CSS */
  .header-container {
    background-color: rgba(0, 0, 0, 0.888);
    color:rgba(204, 204, 204, 0.742);
    height: 4vh;
  }
  .header-container p {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 4vh;
    font-size: .8rem;
    min-width: 32px;
    width: 15vw;
    margin: 0px;
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: center; /* This centers the text horizontally */
  }
  .header-container .search,
  .header-container .pay,
  .header-container .database {
    padding: 0;
    width: 20vw;
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: center; /* This centers the text horizontally */
  }
  .header-container .home {
    padding: 0;
    width: 18vw;
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: flex-start; /* This aligns the text to the left */
  }
  .header-container .logout {
    width: 18vw;
    display: flex;
    align-items: center; /* This centers the text vertically */
    justify-content: flex-end; /* This aligns the text to the right */
    padding: 0;
  }
  /* Header CSS */

  /* Home page instructions */
  .container-home {
    margin-top: 20vh;
    width: 80vw;
    box-shadow: 0 15px 75px rgba(0, 0, 0, 1);
    border-radius: 1em;
  }
  /* Home page instruction */
}












